body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #f2f2f2;
    /* Set a light background color */
}
h1 {
    font-size: 24px;
}
#file-upload {
    margin: 20px auto;
    width: 80%;
    padding: 20px;
    background-color: #fff;
    /* White background for the upload section */
    border: 1px solid #ccc;
}
#file-download {
    margin: 20px auto;
    width: 80%;
    background-color: #fff;
    /* White background for the download section */
}
#file-list {
    list-style-type: none;
    padding: 0;
}
.file-item {
    margin: 10px 0;
}
.download-link {
    text-decoration: none;
    background-color: #777;
    /* Gray background for file links */
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    width: 500px;
    /* Static width */
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.directory-link {
    text-decoration: none;
    background-color: #ccc;
    /* Light gray background for directory links */
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    width: 500px;
    /* Static width */
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.downloads-table {
    margin: 20px auto;
    background-color: #fff;
    /* White background for the table */
    border: 1px solid #ccc;
    border-collapse: collapse;
}

.downloads-table th {
    background-color: #333;
    /* Dark background for table header */
    color: white;
    padding: 10px;
}

.downloads-table td {
    padding: 10px;
    border: 1px solid #ccc;
}
